/* General */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 60px;
}


html {
    scroll-behavior: smooth;
}

p {
    color: #000;
}
/* Header*/

.container{
    border: 2px solid #333;
    margin-top: -45%;
    margin-left: 50px;
}
.color{
    display: table-cell;
    width: 15px;
    height: 10px;
    margin: 0 1px;
    cursor: pointer;
    border: 2px solid #29465B;
}
.clr1{
    background-color:#D0F0C0;
}
.clr2{
    background-color:#ede0cc;
}
.clr3{
    background-color: #7e7c7c;
}
.clr4{
    background-color: #6498db;
}
.clr5{
    background-color: #8e9706;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* Adjusted z-index */
    background-color: #99D8D0;
    padding: 10px; /* Added padding for better spacing */
}
/* Nav-Desktop */

nav, .nav-links {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px; /* Adjust this value to match the height of your navbar */
    background-color: #99D8D0
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #fff;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Nav-Humburger */

#nav-humburger {
    display: none;
}

.menu-humburger {
    position: relative;
    display: inline-block;
}

.icon-humburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.icon-humburger span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #99D8D0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.icon-humburger.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.icon-humburger.open span:nth-child(2) {
    opacity: 0;
}

.icon-humburger.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.icon-humburger span:first-child {
    transform: none;
}

.icon-humburger span:nth-child(2) {
    opacity: 1;
}

.icon-humburger span:last-child {
    transform: none;
}
.home{
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.home-img img{
    position: relative;
    width: 25vw;
    margin-top: -30%;
    animation: floatimage 4s ease-in-out infinite;
    margin-left: 105%;
    border-radius: 50%;
   
}

.home-img img:hover{
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0, 0 0 50px #99D8D0,
    0 0 100px #99D8D0, 0 0 200px #99D8D0

}
 .home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slidTop 1s ease forwards;
    animation-delay:.7s ;
}
.home-content h3 span {
    color:#99D8D0;
}
.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    
}
.home-content p {
    position: relative;
    font-size: 20px;
    font-size: 20px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;

}
.Basic{
    content: '';
    text-align: center;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    justify-content: space-between;
    color:#081b29;
    font-size: 1.4rem;
    padding: 3.5rem 0;
    position: relative;


}
.Basic h2 span {
    color:#99D8D0;
}
.Basic p span{
    color: #99D8D0;
}

.btn-box {
    display: inline;
    padding: 12px 28px;
    background: #99D8D0;
    border-radius: 40px;
    font-size: 25x;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #99D8D0,
        0 0 25px #99D8D0
}

.btn-box:hover {
    color: #fff;
    box-shadow: 0 0 5px #99D8D0,
        0 0 25px #99D8D0, 0 0 50px #99D8D0,
        0 0 100px #99D8D0, 0 0 200px #99D8D0
}
.about{
    content: '';
    text-align: center;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    justify-content: space-between;
    color:#081b29;
    font-size: 1.4rem;
    padding: 3.5rem 0;
    position: relative;

}
.abou-content h2{
    font-size: 60px;  
}
.abou-content h2 span{
    color: #99D8D0;
}

.abou-content p{
    color: #081b29;
    font-size: 20px;
    padding-inline: 1.5rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    text-align: justify;
}
.abou-content h3{
    color: #99D8D0;
}
.about-stats{
    padding-bottom: 4rem;
}
.progress-bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
}
.progress-bar{
    display: flex;
    flex-direction: column;
}
.prog-title{
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 70px;
    
}
.progress-con{
    display: flex;
    align-items: center;
}
.prog text{
    color: #081b29;
}
.progress{
    width: 50%;
    height: .45rem;
    background-color: #ededed;
    margin-left: 100px;
    position: relative;
}
.progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #99D8D0;
    transition: all .4s ease-in-out;
    width: 60%;
}
.progress .html{
    width: 70%;
}
.progress .css{
    width: 65%;
}
.progress .javascript{
    width: 45%;
}
.progress .python{
    width: 50%;
}
.progress .c++{
    width:70%
}
.progress .java{
    width: 30%;
}
.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
}
.stat-title &::before{
    content: '';
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: #ededed;
    transform: translateX(-50%);
}
.stat-title span{
    color: #99D8D0;
}

.education__container{
    row-gap: 2rem;
}
.education__subtitle{
    color:#081b29;
    margin-bottom: 10PX;
    margin-right: 200px;
}
.education__name{
    display: inline-block;
    font-size: 15PX;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: .25rem .5rem;
    background-color: #99D8D0;
    border-radius: .25rem;
}
.education__name{
    background-color:#99D8D0 ;
    color: #081b29;
}

.education__box{
    content: '';
    text-align: center;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    justify-content: space-between;
    color:#081b29;
    font-size: 1.4rem;
    padding: 3.5rem 0;
    position: relative;
}
.section-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    margin-bottom:-60px ;
}
.section-title span{
    color: #99D8D0;

}

.image-portfolio{
    content: '';
    text-align: center;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 3.5rem 0;
    position: relative;

}
#btnNext{
    padding-right: 10px;
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0, 0 0 50px #99D8D0,
        0 0 100px #99D8D0, 0 0 200px #99D8D0

}
#btnPrev{
    padding-right: 10px;
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0, 0 0 50px #99D8D0,
    0 0 100px #99D8D0, 0 0 200px #99D8D0


}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-left: 50px;
    margin-top: 13px;
    
    
}
.Contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    

}
.Contact-text span{
    color: #99D8D0;
}

.Contact-list{
    margin-bottom: 3rem;
}
.Contact-list li{
    margin-bottom: 10px;
    display: block;
}
.Contact-list i{
    display: inline-block;
    color: #99D8D0;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.Contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #99D8D0;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px  solid #99D8D0;
    border-radius: 50%;
    font-size: 20px;
    color: #99D8D0;
    text-decoration: none;
    margin: 30px 5px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0, 0 0 50px #99D8D0,
    0 0 100px #99D8D0, 0 0 200px #99D8D0;
}
.contact-icons i:hover{
    background: #99D8D0;
    color: #000;
    box-shadow: 0 0 20px #99D8D0;
}
.contact-form form{
    position: relative;
}
.contact-form form input ,form textarea{
    border: none;
    outline: none;
    width: 50%;
    padding: 18px;
    background: #c9c9d0;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 0px;
    background: #99D8D0;
    border-radius: 40px;
    font-size: 18px;
    margin-bottom: 20%;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidTop 1s ease forwards;
    animation-delay: 25;
    box-shadow: 0 0 5px #99D8D0,
     0 0 25px #99D8D0;

}
.contact-form form .send:hover{
    color: #ffff;
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0, 0 0 50px #99D8D0,
    0 0 100px #99D8D0, 0 0 200px #99D8D0;
}
.footer {
    background-color:#99D8D0;
    color:#081b29;
    text-align: center;
    bottom: 0;
    width: 100%;
    gap:2rem;
}
.copyright p{
    font-size: 15px;
    font-weight: 400;
    color:#081b29;
}
.scroll-top i{
    display: inline-flex;
    align-items: center;
    margin-left: 80%;
    justify-content: center;
    background-color: #ededed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #000;
    font-size: 27px;
    box-shadow: 0 0 5px #99D8D0,
    0 0 25px #99D8D0;


}



@media screen and (max-width: 1200px) {
    #nav-desktop {
        display: none;
    }
    #nav-humburger {
        display: flex;
    }
}
/* Adjust container for smaller screens */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: -20%; /* Adjust margin for smaller screens */
        margin-left: 20px; /* Adjust margin for smaller screens */
    }
}

/* Adjust color span for smaller screens */
@media only screen and (max-width: 768px) {
    .color {
        display: block; /* Change display to block for better layout on smaller screens */
        width: 100%; /* Make color span full width on smaller screens */
        height: 10px;
        margin: 5px 0; /* Adjust margin for better spacing */
    }
}
@media only screen and (max-width: 768px) {
    .home-content {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .home-img img {
        width: 150px; /* Decrease image size for smaller screens */
        margin-top: 20px; /* Adjust margin for better spacing */
        margin-left: 60%;
    }
}

/* Adjust basic section for smaller screens */
@media only screen and (max-width: 768px) {
    .Basic-content {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .Basic-content h3 {
        font-size: 24px; /* Decrease font size for smaller screens */
    }

    .Basic-content p {
        font-size: 16px; /* Decrease font size for smaller screens */
    }
}

/* Adjust about section for smaller screens */
@media only screen and (max-width: 768px) {
    .abou-content {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .abou-content h2 {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .abou-content p {
        font-size: 16px; /* Decrease font size for smaller screens */
    }
}

/* Adjust education section for smaller screens */
@media only screen and (max-width: 768px) {
    .education__box {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .education__subtitle {
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }

    .education__name {
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }
}

/* Adjust portfolio section for smaller screens */
@media only screen and (max-width: 768px) {
    .image-portfolio {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .portfolio-img {
        width: 100%; /* Make image responsive to container width */
    }
}

/* Adjust contact section for smaller screens */
@media only screen and (max-width: 768px) {
    .Contact-text {
        padding: 20px; /* Add padding for better spacing */
        text-align: center; /* Center text */
    }

    .Contact-list li {
        margin-bottom: 10px; /* Adjust margin for better spacing */
    }

    .contact-form form {
        padding: 20px; /* Add padding for better spacing */
    }
}

/* Adjust footer section for smaller screens */
@media only screen and (max-width: 768px) {
    .footer {
      /* Add padding for better spacing */
        text-align: center; /* Center text */
    }
}



@keyframes floatimage{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }


}



@keyframes lideRight {
    0% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }


}

@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes slidTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}